.block-webform-block {
  width:30%;
  margin: auto;


  h2 {
    text-align: center;
  }

  .form-item-subtitle {
     text-align: center;
    font-size: 20px;
   }

  input {
    padding: 16px;
  }

  label {
    padding:5px 0;
  }

  .webform-flex--container {
    width: 70%;
    .js-webform-flexbox {
      width: 75%;
    }
  }

  .webform-button--submit {
    width: 100%;
    background-color: #00508f;
    color: #fff;
    border: 0;
    font-size: 20px;
  }

  .webform-submission-calcola-il-tuo-preventivo-form {
    background-color: #cbcbcbcc;
    padding: 10px 0 0 0;
  }

  .webform-flexbox {
    padding: 10px 0;
    margin: 0 10px;
  }

  .superfici {
    border:2px solid #fff;
    border-bottom:none;
    padding-left: 16px;
  }

  .contro {
    border:2px solid #fff;
    border-bottom:none;
  }

  .condizione {
    border:2px solid #fff;
    padding-left: 16px;

  }

  .webform-type-checkboxes {
    margin:20px 10px ;
    border:2px solid #fff;
  }

  .js-webform-checkboxes {
    display: block;
    float: right;
    width: 45%;

    .js-form-item {
      display: block;
    }
  }

  .form-composite > legend, .label {
    padding: 35px;
  }

  .messages {
    position: absolute;
    bottom: -90px;
    width: 95%;
    color: #325e1c;
    border-color: #c9e1bd;
    padding: 10px 15px;
    border: 1px solid;
    background: transparent;
    box-shadow: none;
  }
}




