@import "variables";
@import "header";
@import "footer";
@import "progetti-home";
@import 'front-webform';

body {
  background-color: #18191b;
}

.site-logo img{
    width: 100px;
}
  

.form-required{
  display: flex;
}
.form-item{
  display: flex;
  flex-direction: row;
}
.form-controll{
  border: 1px solid #ccc;
  background: #f8f8f8 none;
}